name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: ./crud-dd-task-mean-app/backend
          file: ./crud-dd-task-mean-app/backend/Dockerfile
          push: true
          tags: jayapriyajuly/ddcrud-backend:latest

      - name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./crud-dd-task-mean-app/frontend
          file: ./crud-dd-task-mean-app/frontend/Dockerfile
          push: true
          tags: jayapriyajuly/ddcrud-frontend:latest
